/* Asigură-te că body ocupă întreaga înălțime a paginii */
html,
body {
	height: 100%;
	margin: 0;
}

/* Containerul principal pentru pagină */
.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Ocupă cel puțin 100% din înălțimea ferestrei */
}

/* Conținutul principal al paginii */
.main-content {
	flex: 1; /* Se va extinde pentru a ocupa tot spațiul disponibil */
}

/* Footer */
.footer {
	background-color: #333;
	color: white;
	padding: 40px 0;
	/* Poți adăuga orice alte stiluri pentru footer aici */
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-column {
	flex: 1;
	margin-bottom: 20px;
}

.footer-list {
	list-style-type: none;
	padding: 0;
}

.footer-link {
	color: white;
	text-decoration: none;
}

.footer-copyright {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
