/* Asigură-te că body ocupă întreaga înălțime a paginii */

/* Containerul principal pentru pagină */
.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Ocupă cel puțin 100% din înălțimea ferestrei */
}

/* Conținutul principal al paginii */
.main-content {
	flex-grow: 1; /* Se va extinde pentru a ocupa tot spațiul disponibil, împingând footer-ul la bază */
}

/* Footer */
.footer {
	opacity: 0.5;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 30px;
	opacity: 0.6;
	background-color: #333;
	color: white;
	padding: 20px 15px 10px 5px; /* 20px sus, 15px dreapta, 10px jos, 5px stânga */
	border-radius: 50px;
	align-items: center;
}

.footer-content {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer-column {
	flex: 1;
	margin-bottom: 20px;
}

.footer-list {
	list-style-type: none;
	padding: 0;
}

.footer-link {
	color: white;
	text-decoration: none;
}

.footer-copyright {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
