.dual-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40%;
	overflow: hidden;
}

.slider {
	overflow: hidden;
	width: 40%;
}

.slider-track {
	display: flex;
}

.slider img {
	object-fit: cover;
}
