.Who-We-Are {
	color: rgb(33, 118, 183);
	font-size: 40px;
}

.we-transform-lives {
	color: rgb(220, 205, 222);
	font-size: 12px;
	padding-top: 5px;
}

.aboutU {
	width: 100%;
	height: auto;
	opacity: 0.8;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px; /* Distanță între imagini */
	margin-top: 20px;
}

.rounded-img {
	width: 275px; /* Dimensiune fixă a imaginii */
	height: auto;
	border-radius: 20px; /* Colțuri rotunjite */
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecte de tranziție pentru zoom și umbră */
}

.rounded-img:hover {
	transform: scale(1.1); /* Efect de zoom */
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Efect de umbră pentru a da impresia de „pop” */
}
/* Stilizare generală pentru secțiunea de valori */
.values-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin: 40px auto;
	max-width: 1200px;
}
/* Stiluri generale */
.values-section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	font-size: 17.5px;
}

.value-item {
	width: 18%;
	text-align: center;
	color: white;
}

.value-icon {
	margin-bottom: 15px;
}

/* Stiluri pentru grupul de buline */
.dot-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

/* Stiluri pentru buline */
.dot {
	background-color: #8e44ad; /* Mov */
	border-radius: 50%;
}

.large {
	width: 20px;
	height: 20px;
}

.medium {
	width: 14px;
	height: 14px;
}

.small {
	width: 8px;
	height: 8px;
}
.aboutU-first {
	padding-top: 4px;
	font-size: 15.8px; /* Dimensiune text mai mică */
	font-weight: normal; /* Text normal, nu îngroșat */
	text-align: center; /* Centrare pe orizontală */
	color: transparent; /* Text transparent pentru a aplica gradientul */
	background: linear-gradient(
		to right,
		purple,
		blue
	); /* Gradient de la mov la albastru */
	-webkit-background-clip: text; /* Aplică gradientul doar pe text */
	animation: rotateText 10s infinite; /* Durata animației mai lungă pentru o mișcare mai lentă */
	letter-spacing: 1px; /* Spațiere între litere */
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Adăugăm umbră textului pentru un efect mai puternic */
	transform: rotate(-2deg); /* Rotește textul mai puțin */
}

@keyframes rotateText {
	0% {
		transform: rotate(-1.5deg); /* Poziția inițială cu un unghi mai mic */
	}
	50% {
		transform: rotate(1.5deg); /* Poziția intermediară cu un unghi mai mic */
	}
	100% {
		transform: rotate(-1.5deg); /* Revine la poziția inițială */
	}
}
