/* ContactForm.css */
.rotating-img {
	width: 200px;
	height: 200px;
	animation: rotate 10s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}

    h6 {
        --font-poppins: "__Poppins_67380f", "__Poppins_Fallback_67380f", sans;
        background: transparent;
        font-weight: 400;
        font-size: 2rem;
        line-height: 5rem;
        font-family: var(--font-poppins);
        text-align: center;
        margin: 0;
        color: rgba(13, 20, 23, 0.654);
        text-shadow: 4px 0 6px rgba(0, 0, 0, 0.57);
    }
}
