.binary-background {
	background: none !important;
	opacity: 1 !important;
	display: none !important;
}

.first-text {
	text-indent: 20px; /* Dacă vrei un spațiu înaintea textului pe prima linie */
	margin: 0 auto; /* Centrarea elementului în containerul său */
	margin-top: 10px;
	text-align: center; /* Centrează textul în interiorul elementului */
	max-width: 800px; /* Opțional, pentru a evita ca textul să fie prea larg pe ecrane mari */
}

.services-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
	color: white;
}
.title-text {
	padding-top: 3%;
}
.image {
	margin: 0;
	padding: 0;
	border: 0;
	width: 75%;
	padding-bottom: 10px;
}
.service-card {
	width: 100%;
	max-width: 300px;
	text-align: center;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 18px;
	box-shadow: 0 4px 8px rgba(101, 101, 101, 0.1);
	transition: transform 0.3s ease;
}

.service-card:hover {
	transform: translateY(-10px);
}

.service-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.service-description {
	font-size: 1rem;
	margin-bottom: 15px;
}

.service-link {
	font-size: 1rem;
	color: #007bff;
	text-decoration: none;
}

/* Stilizare piramidală */

.beautiful {
	opacity: 0.7;
}

.first-text2 {
	position: relative; /* pentru a putea poziționa elementele suplimentare */
	font-size: 26px; /* dimensiunea textului */
	font-weight: normal; /* text normal */
	line-height: 1.8; /* linii mai distantate pentru o citire mai ușoară */
	letter-spacing: 0.5px; /* un pic de spațiu între litere pentru a îmbunătăți lizibilitatea */
	text-align: center; /* aliniere centrală pentru un aspect mai echilibrat */
	background: linear-gradient(to right, purple, blue); /* gradient pe text */
	-webkit-background-clip: text; /* aplicarea gradientului pe text */
	color: transparent; /* face textul transparent pentru a vedea gradientul */
	z-index: 1; /* asigură că textul este deasupra */
}

@media (max-width: 778px) {
	.first-text2 {
		font-size: 20px; /* dimensiunea textului */
		line-height: 1.5; /* linii mai distantate pentru o citire mai ușoară */
	}
	.service-title {
		font-size: 30px;
	}
	.beautiful {
		padding-bottom: 48px;
	}
	.service-card {
		width: 38%; /* Setează o lățime fixă pentru imagini */
		height: auto;
	}

	.title-text {
		font-size: 235%;
	}
	.image {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 410px) {
	.first-text2 {
		font-size: 20px; /* dimensiunea textului */
		line-height: 1.2; /* linii mai distantate pentru o citire mai ușoară */
	}
	.image {
		width: 90%;
		height: auto;
	}
	.service-title {
		font-size: 20px;
	}
	.beautiful {
		padding-bottom: 48px;
	}
	.service-card {
		width: 36%; /* Setează o lățime fixă pentru imagini */
		max-width: 900px;
		text-align: center;
		padding: 5%;
	}

	.title-text {
		font-size: 235%;
	}
	.image {
		width: 100%;
		height: auto;
	}
	.title-text {
		padding-top: 3%;
	}
}
