.background-gradient_main-container__Z3ZLQ {
	--tw-blur: blur(84px);
	filter: var(--tw-blur);
	transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
	background: transparent;
}
#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0; /* Mai jos decât #root */
	pointer-events: none;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden; /* Pentru a elimina scroll-ul */
	overflow-y: scroll;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	z-index: 1;
	position: absolute;
	top: 30px;
	left: 15%;
	width: 70%;
	text-align: center;
	pointer-events: auto; /* Permite interacțiunea cu elementele din spate */
}
