.background-gradient_main-container__Z3ZLQ {
	--tw-blur: blur(84px);
	filter: var(--tw-blur);
	transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
	background: transparent;
	padding: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0; /* Mai jos decât #root */
	pointer-events: none;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden; /* Pentru a elimina scroll-ul */
	overflow-y: scroll;
	font-family: "Roboto", sans-serif; /* Alege fontul dorit */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title-text {
	padding-top: 3%;
}

#root {
	padding-top: 20px;
	z-index: 1;
	position: absolute;
	top: 25px;
	left: 15%;
	width: 70%;
	text-align: center;
	pointer-events: auto; /* Permite interacțiunea cu elementele din spate */
}
:root {
	--brightness: 20%;
	--contrast: 20%;
	--font-family: "Arial, sans-serif";
}

@media screen and (max-width: 1310px) {
	header nav {
		display: none;
	}

	#root {
		left: 5%;
		width: 90%;
	}
}

@media screen and (max-width: 780px) {
	#root {
		left: 1%;
		width: 98%;
	}
}
