/* Container principal */
.contact-container {
	padding-top: 7%;
	position: relative;
	width: 100%;
	height: 100vh; /* Asigură că secțiunea ocupă întreaga înălțime a paginii */
	overflow: hidden; /* Ascunde conținutul care iese în afară */
}
.contact-content {
	color: aqua;
}
/* Fundal cu opacitate redusă */
.background-overlay {
	position: absolute;
	width: 100%;
	height: 70%;
	background-image: url("./ImageBehindContactUS/contactUsImg.jpg"); /* Imaginea de fundal */
	background-size: cover; /* Acoperă complet containerul */
	background-position: center center; /* Centrează imaginea */
	background-repeat: no-repeat; /* Fără repetare */
	opacity: 0.5; /* Fundal semi-transparent */
	z-index: 1; /* Trimite stratul în spate */
	border-radius: 12%;
	margin-top: 0;
	padding-top: 10;
	border: 0;
}

/* Conținutul textului */
.contact-content {
	position: relative;
	z-index: 2; /* Asigură că textul apare deasupra imaginii */
	padding: 0px;
	color: #ffffff; /* Text alb */
	text-align: center;
	padding-top: 50px;
}

/* Titlu */
.contact-content h6 {
	font-size: 2rem;
	margin-bottom: 20px;
}

/* Informațiile de contact */
.contact-info {
	font-size: 1.2rem;
	line-height: 1.8;
}

/* Stiluri pentru linkuri */
.contact-info a {
	color: #ffffff; /* Linkuri albe */
	text-decoration: none;
	font-weight: bold;
}

.contact-info a:hover {
	color: rgb(33, 118, 183);
}

/* Culori specifice pentru platforme */
.social-links a.facebook {
	color: #1877f2; /* Culoarea specifică pentru Facebook */
}

.social-links a.linkedin {
	color: #0a66c2; /* Culoarea specifică pentru LinkedIn */
}

.social-links a.instagram {
	color: #e1306c; /* Culoarea specifică pentru Instagram */
}

.social-links a.tiktok {
	color: #e1306c; /* Culoarea specifică pentru TikTok */
}

/* Stiluri pentru hover */
.social-links a.facebook:hover {
	color: #145dbf; /* O nuanță mai închisă pentru Facebook */
}

.social-links a.linkedin:hover {
	color: #004182; /* O nuanță mai închisă pentru LinkedIn */
}

.social-links a.instagram:hover {
	color: #bc2a8d; /* O nuanță mai închisă pentru Instagram */
}

.social-links a.tiktok:hover {
	color: #bc2a8d; /* O nuanță mai închisă pentru TikTok */
}
