/* Contact.css */
.contact-container {
	max-width: auto;
	margin: 0 auto;
	padding: 10px 20px; /* Spațiere pentru a face meniul mai larg */
	background-color: rgba(
		255,
		255,
		255,
		0.15
	); /* Fundal semitransparent pentru meniu */
}
.contact-info {
	margin-top: 20px;
}

.contact-info p {
	font-size: 1.3em; /* Dimensiune text mai mare pentru lizibilitate */
	margin-bottom: 15px;
}

.contact-info a {
	color: #007bff; /* Albastru pentru link-uri */
	text-decoration: none; /* Fără subliniere implicită */
}

.contact-info a:hover {
	text-decoration: underline; /* Subliniere la hover */
}
