.slider-container {
	width: 280%; /* Dimensiunea slider-ului (poți ajusta procentul sau folosi valori fixe, ex: 600px) */
	max-width: 840px; /* Setează o lățime maximă */
	margin: 0 auto; /* Centrează slider-ul */
	overflow: hidden; /* Ascunde elementele care depășesc containerul */
}

.slider-image-container {
	width: 100%;
	height: 500px; /* Înălțimea slider-ului */
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Asigură că imaginile sunt scalate și decupate uniform */
	border-radius: 81px; /* Opțional: colțuri rotunjite pentru imagini */
}
